*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
  -webkit-user-select:none;
  user-select:none;
}

.splash{
  background:#5b0f1a;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.login{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background:#f5f5f5;
}

.login-box{
  background:white;
  padding:30px;
  border-radius:15px;
  width:90%;
  max-width:350px;
  box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.login-box input{
  width:100%;
  padding:12px;
  margin:10px 0;
  border-radius:8px;
  border:1px solid #ccc;
}

.login-box button{
  width:100%;
  padding:12px;
  background:#5b0f1a;
  color:white;
  border:none;
  border-radius:8px;
}


.card{
   background:white;
   padding:15px;
   margin:10px 0;
   border-radius:10px;
   box-shadow:0 3px 10px rgba(0,0,0,0.1);
}